<thead>
  <th>Identifer</th>
  <th>Title</th>
  <th>Name of Person</th>
</thead>
<tbody>
  <% evidence.each do |ev| %>
    <tr>
      <td><%= ev.identifier %></td>
      <td><%= ev.title %></td>
      <td><%= ev.person.name if ev.person.present? %></td>
    </tr>
  <% end %>
</tbody>
